
<div class="dialog-wrapper" *ngIf="data">

  <div >
    <div class="dialog-title">
      {{data.title}}
    </div>
  </div>
  <div class="dialog-content" *ngIf="data.contents">
    <p>{{data.contents}}</p>
  </div>
  <div class="dialog-action" *ngIf="data.btn">
    <button class="btn" (click)="dialogRef.close(false)">{{data.btn ? data.btn.no : "cancel"}}</button>
    <button class="btn" (click)="dialogRef.close(true)">{{data.btn ? data.btn.ok: "approve"}}</button>
  </div>
  <div class="dialog-action" *ngIf="!data.btn">
    <button class="btn" (click)="dialogRef.close()">ok</button>
  </div>



</div>
