.login-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    .card {
      width: 100%;
      height: 100%;
      display: contents;
      &-wrapper {
        padding: 50px 50px 50px 50px;
        justify-content: center;
        width: 220px;
      }
      &-header {
        text-align: center;
        padding: 1em 0 2em 0;
      }
      &-body {
        text-align: center;
        .login-form {
          display: grid;
          justify-items: center;
          text-align: center;
        }
        button {
          width: 100%;
          margin: 5px 0 5px 0;
        }
      }
    }
    //.banner {
    //  width: 0;
    //  height: 100%;
    //  background-color: aquamarine;
    //}
    //@media (min-width: 600px) {
    //  .card {
    //    width: 50%;
    //  }
    //  .banner {
    //    width: 50%;
    //    background-color: aquamarine;
    //  }
    //}
}
