
<div class="login-container">
  <div class="card">
    <div class="card-wrapper">

    <div class="card-header">
      <mat-card-title>SignIn</mat-card-title>
    </div>
    <div class="card-body">
      <form [formGroup]="signInForm" class="login-form" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>email</mat-label>
          <input id="email"
                 matInput
                 formControlName="username"
                 [errorStateMatcher]="matcher"
                 type="email"
                 placeholder="email">
          <mat-hint></mat-hint>
<!--          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">-->
<!--            Please enter a valid email address-->
<!--          </mat-error>-->
<!--          <mat-error *ngIf="emailFormControl.hasError('required')">-->
<!--            Email is <strong>required</strong>-->
<!--          </mat-error>-->
        </mat-form-field>
        <mat-form-field>
          <mat-label>password</mat-label>
          <input id="password"
                 matInput
                 formControlName="password"
                 [errorStateMatcher]="matcher"
                 type="password"
                 placeholder="password">
          <mat-hint></mat-hint>
<!--          <mat-error *ngIf="passwordFormControl.hasError('required')">-->
<!--            Password is <strong>required</strong>-->
<!--          </mat-error>-->
        </mat-form-field>
        <button mat-button mat-flat-button
                type="submit"
                [disabled]="signInForm.invalid">
          submit
        </button>
      </form>
      <div id="google-sign-in"></div>
<!--      <div id="g_id_onload"-->
<!--           data-client_id="904288510274-tvtfor6hsjrktmp1anbq60cahoj8ohds.apps.googleusercontent.com"-->
<!--           data-login_uri="http://localhost:3000/api/v1/auth/google"-->
<!--           data-callback="handleCredentialResponse"-->
<!--           data-auto_prompt="true">-->
<!--      </div>-->
<!--      <div class="g_id_signin"-->
<!--           data-type="standard"-->
<!--           data-size="large"-->
<!--           data-theme="outline"-->
<!--           data-text="sign_in_with"-->
<!--           data-shape="rectangular"-->
<!--           data-logo_alignment="left">-->
<!--      </div>-->
        <a href="/signup">
          <button mat-button mat-flat-button>
            sign up
          </button>
        </a>
    </div>
    </div>
  </div>
</div>

