<mat-toolbar class="mat-toolbar" color="primary">
  <button class="mat-icon-button mat-button-base" aria-label="menu icon">
    <span class="mat-button-wrapper">
     <mat-icon>menu</mat-icon>
    </span>
  </button>
  <a href="/" class="nav-link">
    <img class="logo" alt="Home"
         src="../../assets/svg/shield-large.svg">
  </a>
  <div class="search-container">
    <input
      class="search-input"
      name="search"
      ngModel
      placeholder="search"/>
    <mat-icon>close</mat-icon>
  </div>
  <button class="mat-icon-button">
    <span class="mat-button-wrapper">
      <mat-icon>dark_mode</mat-icon>
    </span>
  </button>
</mat-toolbar>
