<mat-toolbar class="mat-toolbar" color="primary">
  <a href="/board" class="board">
    Board
  </a>
  <div class="search-container">
    <input
      class="search-input"
      name="search"
      [(ngModel)]="keyword"
      (keyup)="search(resultEl)"
      #searchEl
      placeholder="search"/>
    <mat-icon
      (click)="searchEl.value=''"
    >close</mat-icon>
    <div class="search-result" #resultEl style="display: none">
        <div *ngFor="let article of result">
          <a [routerLink]="['/article',article.no]"
              (click)="toggleDropdown(resultEl)">
            <div>
          {{article.no}} ∙ {{article.title}}
            </div>
          </a>
        </div>
    </div>
  </div>
  <button class="mat-icon-button" *ngIf="!isSignedIn()">
    <a class="mat-icon-button" href="/login">
      <span class="mat-button-wrapper">
          <mat-icon>login</mat-icon>
      </span>
    </a>
  </button>
  <div class="user-id-wrapper">
    <button class="user-id-button"
            *ngIf="myInfo()"
            (click)="toggleDropdown(dropdown)">
    {{me}}
    </button>
    <div class="user-id-dropdown" #dropdown style="display: none">
      <a [routerLink]="['/user',me]"
         (click)="toggleDropdown(dropdown)">
        <div class="btn-dropdown">
          my posts
        </div>
      </a>
      <a [routerLink]="['/user']"
         (click)="toggleDropdown(dropdown)">
        <div class="btn-dropdown">
          account
        </div>
      </a>
      <a (click)="signOut()">
        <div class="btn-dropdown">
          sign out
        </div>
      </a>
    </div>
  </div>
<!--  <button class="mat-icon-button">-->
<!--    <span class="mat-button-wrapper">-->
<!--      <mat-icon>dark_mode</mat-icon>-->
<!--    </span>-->
<!--  </button>-->
</mat-toolbar>
