
<div class="form-wrapper">
  <form [formGroup]="editForm" class="edit-form" (ngSubmit)="submit()">
    <mat-form-field class="title-input">
      <input matInput
             id="title"
             formControlName="title">
    </mat-form-field>
    <mat-form-field class="contents-input">
      <textarea matInput
                id="contents"
                formControlName="contents"></textarea>
    </mat-form-field>
    <button mat-button
            type="submit"
            [disabled]="editForm.invalid">submit</button>
  </form>
</div>
