
.container {
  width: 100%;
  height: 100%;
  background-color: #e7e7e7;
  display: grid;
  justify-content: center;
  padding-top: 10px;
  .top-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 10px 0;
    height: 40px;
  }
  .preview-area {
    display: flex;
    justify-content: center;
    background: white;
    width: 500px;
    min-height: 100px;
    div {
      width: 100%;
      margin: 20px;
    }
  }
  .form-wrapper {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 500px;
    min-height: 350px;
    .edit-form {
      align-content: baseline;
      justify-content: center;
      display: grid;
      margin: 20px;
      width: 100%;
      .title-wrapper {
        display: flex;
        justify-content: space-between;
        height: 40px;
        margin-bottom: 20px;
        position: relative;
        textarea {
          width: 100%;
          border: 1px solid #cbcbcb;
          resize: none;
          overflow-x: scroll;
          padding: 10px;
        }
        input {
          width: 80px;
          margin-left: 20px;
          border: 1px solid #cbcbcb;
          padding: 10px;
          &.required {
            border: 1px solid #FF4040FF;
          }
        }
        .required-message {
          font-size: smaller;
          bottom: -1rem;
          position: absolute;
          color: #FF4040FF;
        }
      }
      .editor-wrapper {
        display: grid;
        width: 480px;
      }
      .button-wrapper{
        display: flex;
        justify-content: end;
        padding-right: 15px;
        button {
          margin-left: 5px;
          border-radius: 30px;
          width: 80px;
        }
        #save-btn {
          z-index: 99;
        }
        #submit-btn {
          z-index: 99;
          background-color: #464646;
          color: white;
          &:disabled {
            background-color: #e1e1e1;
          }
        }
      }
    }
  }

}
