<div class="container">
<div>

  <div class="top-area">
    <button class="btn btn-top"
            id="cancel-btn"
            type="button"
            (click)="cancel()"
    >cancel</button>
    <button class="btn btn-top"
            id="temp-btn"
            type="button"
            (click)="getTemp()"
    >load saved</button>
  </div>
  <div class="form-wrapper">
    <form [formGroup]="createForm" class="edit-form" (ngSubmit)="submit()">
      <div class="title-wrapper">
        <textarea
                  placeholder="title"
                  maxlength="300"
                  id="title"
                  formControlName="title">

        </textarea>
        <input  *ngIf="me==='anonymous'"
                class="{{createForm.get('password')?.hasError('required')?'required':''}}"
                placeholder="password"
                id="password"
                type="password"
                formControlName="password">
        <div class="required-message" *ngIf="createForm.get('title')?.hasError('required')">title is required</div>
      </div>
      <div class="editor-wrapper">
        <quill-editor #editor
                      [sanitize]="true"
                      formControlName="contents"
                      [styles]="{ 'min-height': '10rem' }"
                      (onEditorChanged)="changeContent($event)">
        </quill-editor>
      </div>
      <div class="button-wrapper">
        <button class="btn"
                id="save-btn"
                type="button"
                (click)="save()"
                >save</button>
        <button class="btn"
                id="submit-btn"
                type="submit"
                [disabled]="me==='anonymous'?createForm.invalid:0"
                >submit</button>
      </div>
    </form>
  </div>
  <div class="preview-area">
    <div [innerHtml]="createForm.get('contents')?.value">
    </div>
  </div>

</div>
</div>
