<div class="container">
  <div class="">
    <div *ngIf="isLoading$ | async">Loading...</div>
      <div>
        <button id="back-btn"
                mat-button
                type="button"
                (click)="back()"
        >back</button>
      </div>
    <div class="contents-wrapper" *ngIf="detail$ | async as article">
      <div class="article-container">
        <div class="title-area">
          <div>{{article.no}}</div>
          <div class="title">{{article.title}}</div>
          <div>{{calDate(article.insDate)}}</div>
        </div>
        <div class="sub-area">
          <div>{{article.userEmail}}</div>
          <div>
            <img src="../../assets/svg/eye-open.svg" alt="view" width="20px" height="20px"/>
            {{article.hitCnt}}
          </div>
        </div>
        <div class="article-area">
          <div id="contents" [innerHTML]="article.contents"></div>
        </div>
        <div class="bottom-area">
<!--          <div>shop_no {{article.no}}</div>-->
        </div>
        <div class="photo-container" *ngIf="article.photo">
            <div class="photo-block"
                 *ngFor="let url of article.photo" >
              <img src="{{url}}" alt="photo"/>
            </div>
        </div>
        <div class="btn-set" *ngIf="article.userEmail!=='anonymous'">
          <button class="like-btn"
                  (click)="likeArticleBtn()"
                  [disabled]="article.userEmail===me || article.isDelete">{{likeCnt}} {{likeTF?'unlike':'like'}}</button>
          <button (click)="goToEditBtn()"
                  [disabled]="article.userEmail!==me || article.isDelete">edit</button>
          <button (click)="delArticleBtn()"
                  [disabled]="article.userEmail!==me || article.isDelete">{{article.isDelete?'deleted':'delete'}}</button>
        </div>
        <div class="btn-set" *ngIf="article.userEmail==='anonymous'">
          <button class="like-btn"
                  (click)="likeArticleBtn()"
                  [disabled]="article.isDelete">{{likeCnt}} {{likeTF?'unlike':'like'}}</button>
          <input  [(ngModel)]="pw"
                  placeholder="password">
          <button (click)="goToEditBtn()"
                  [disabled]="article.isDelete">edit</button>
          <button (click)="delArticleBtn()"
                  [disabled]="article.isDelete">{{article.isDelete?'deleted':'delete'}}</button>
        </div>



        <div class="comment-area">
          <div class="comment-textarea-wrapper">
              <textarea class="comment-textarea"
                        placeholder="{{me?'':'댓글을 작성하려면 로그인하세요'}}"
                        #commentText
                        [attr.data-grp]="0"
                        [attr.data-seq]="0"
                        [attr.data-lv]="0"
                        [attr.data-parent]="0"
              ></textarea>
            <button class="lv1-comment-btn"
                    [disabled]="!me"
                    (click)="submitCommentBtn(commentText)">comment</button>
          </div>
        </div>
      </div>

      <div class="comment-container">
        <div>
          <div class="comment-list-container" *ngIf="!commentList$">
            댓글없다
          </div>
          <div class="comment-list-container" *ngIf="commentList$">
            <div>
              <div>댓글 {{(commentList$|async)?.length}}개</div>
            </div>

            <div class="comment lv"
                 id="c-{{comment.no}}"
                 style="--lv: {{comment.lv-1}}"
                 *ngFor="let comment of commentList$ | async; let index = index">
              <div class="indent-wrapper">
                <div class="line" *ngFor="let th of comment.thread; let i = index;"
                     (mouseover)="focusThread(th)"
                     (mouseout)="focusThread(0)"
                     (click)="foldThread(th)">
                  <i class="threadline{{focusedThread===th?'-hover':''}}"
                     [attr.data-no]="th"></i>
                </div>
              </div>
              <div class="comment-wrapper">
                <div class="comment-left">
                  <div class="unfold-button">
                    <button (click)="unfoldThread(comment.no)"> + </button>
                  </div>
                  <div class="profile-image">
                    <div>{{comment.userEmail?.charAt(0)}}</div>
                  </div>
                </div>
                <div class="comment-contents {{comment.isDelete?'deleted':''}} {{comment.userEmail===me?'me':''}}">
                  <div class="comment-header">
                    <div>{{comment.userEmail}}<div class="author" *ngIf="article.userEmail===comment.userEmail">author</div></div>
                    <div>  ∙ {{calDate(comment.insDate)}}</div>
                    <div>[ {{comment.no}} ]</div>
                  </div>
                  <div class="comment-content">{{comment.contents}}</div>
                  <div class="button-wrapper">
                    <button
                            class="like-btn"
                            [attr.data-no]="comment.no"
                            [disabled]="!me || comment.userEmail===me || comment.isDelete"
                            type="button"
                            (click)="likeCommentBtn(comment.no, comment.likeYn)">{{comment.likeCnt}} {{comment.likeYn?'cancel':'like'}}</button>
                    <button (click)="showTextareaBtn(inputComment)">comment</button>
                    <button *ngIf="comment.userEmail===me"
                            class="delete-btn"
                            [attr.data-no]="comment.no"
                            [disabled]="comment.isDelete"
                            type="button"
                            (click)="delCommentBtn(comment.no)">{{comment.isDelete?'deleted':'delete'}}</button>
                  </div>
                  <div class="comment-textarea-wrapper">
                  <textarea class="comment-textarea"
                            placeholder="{{me?'':'댓글을 작성하려면 로그인하세요'}}"
                            #inputComment
                            [attr.data-grp]="comment.grp"
                            [attr.data-seq]="comment.seq"
                            [attr.data-lv]="comment.lv"
                            [attr.data-parent]="comment.no"></textarea>
                    <button class="comment-btn"
                            [disabled]="!me"
                            type="button"
                            (click)="submitCommentBtn(inputComment)">comment</button>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
      <div>
          bottom

      </div>

    </div>
  </div>
</div>
