:root{

}
#back-btn {
  background-color: #dadada;
}
.container {
  display: flex;
  justify-content: center;
}
.contents-wrapper {
  margin-top: 10px;
  display: grid;
  width: 90vw;


  .article-container {
    .title-area {
      display: flex;
      justify-content: space-between;
      font-size: large;
    }
    .sub-area {
      display: flex;
      justify-content: space-between;
    }
    .article-area {
      border: 1px solid;
      min-height: 300px;
      padding: 10px
    }
    .bottom-area {

    }
    .comment-area {
      padding: 13px
    }
  }


  .comment-textarea-wrapper {
    padding: 15px;
    border-left: 2px solid gray;
    display: flex;
    textarea {
      width: 300px; height: 100px;
      resize: none; overflow-y: scroll;
    }
  }
  .comment .comment-textarea-wrapper{
    margin-top: 15px;
    padding: 15px;
    border-left: 2px solid #cbcbcb;
    display: none;
    textarea {
      width: 300px; height: 100px;
      resize: none; overflow-y: scroll;
    }
  }

  .comment-container {
    .author {
      font-size: xx-small;
      color: #1976d2;
    }
    .indent-wrapper {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin-left: 5px;
    }
    .indent-wrapper>div:last-child {
      height: calc(100% - 45px);
      bottom: 0;
      position: absolute;
    }
    .line {
      display: inline-block;
      bottom: 0;
      height: 100%;
      width: 15px;
    }
    .threadline {
      cursor: pointer;
      border-right:2px solid rgba(224, 222, 222, 0.59);
      display: block;
      height: 100%;
      width: 50%;
      &-hover {
        cursor: pointer;
        border-right:2px solid rgba(1, 64, 122, 0.84);
        display: block;
        height: 100%;
        width: 50%;
      }
    }
    .comment-wrapper { display: flex}
    .comment{ padding-top: 10px; display: flex; position: relative;
      &.fold {
        .indent-wrapper{display: none;}
        .comment-header {color: #9d9d9d}
        .comment-content{display: none;}
        .button-wrapper{display: none;}
        .unfold-button {position: absolute;display: flex;left: -30px;margin: 4px;}
      }
      &.fold-tail {
        display: none;
      }
      .unfold-button {display: none;}
      .comment-header {display: flex;margin: 5px;}
    }
    .lv {
      padding-left: calc(15px * var(--lv));
    }
    //.lv1{border-left: 1px solid; padding-left: 10px; margin-left: 10px}
    //.lv2{border-left: 1px solid; padding-left: 10px; margin-left: 20px}
    //.lv3{border-left: 1px solid; padding-left: 10px; margin-left: 30px}

    .profile-image {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-radius: 50%;
      color: whitesmoke;
      background-color: #1976d2;
      width: 26px;
      height: 26px;
      margin: 2px;

    }
  }
}
