.container {
  display: flex;
  justify-content: center;
}
.contents-wrapper {
  width: 500px;
  margin-top: 30px;
  margin-bottom: 100px;
  .filter-bar {
    display: flex;
    background-color: white;
    border: 1px solid #e0e0e0;
    height: 30px;
    padding: 10px;
    margin-bottom: 10px;
    .selected {
      background-color: #cbcbcb;
    }
    button:active {
      opacity: 30%;
    }

  }
  .posts-wrapper {

    .post-wrapper {
      margin-top: 10px;
      .post {
        background-color: white;
        border: 1px solid #e0e0e0;
        height: 50px;
        padding: 10px;
        &.comment {

        }
        &.relation {

        }
        &.isDeleted {
          color: #9d9d9d;
        }
      }
      .relation {
        background-color: white;
        border: 1px solid #e0e0e0;
        height: 50px;
        padding: 10px;
        &.comment {
          margin-left: 30px;
        }
        &.article {

        }
      }
      .article {
         height: fit-content;
      }

      .author {
        color: #464646;
        font-size: small;
      }

      .view {
        display: flex;
      }
    }
  }
}
