<div class="container">
    <div class="contents-wrapper" *ngIf="history$ | async as hist">
      <div class="filter-bar">
        <button class="btn {{ sort && sort.orderBy==='date'?'selected':''}}"
                value="date"
                (click)="sortPage($event)">
          최신순
        </button>
        <button class="btn {{sort && sort.orderBy==='like'?'selected':''}}"
                value="like"
                (click)="sortPage($event)">
          인기순
        </button>
      </div>
<!--      <div class="posts-wrapper" >-->
<!--        <div class="post-wrapper" *ngFor="let i of [0,1,2,3,4,5]">-->
<!--          <div class="post article">-->

<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
      <div>
        <div class="posts-wrapper">
          <div class="post-wrapper i-{{i}}" *ngFor="let article of hist; let i = index;">
            <div class="post article {{article.isDeleted?'isDeleted':''}}">
              <a [routerLink]="['/article/',article.articleNo]">
                <div class="author">
                  [{{article.articleNo}}]
                  {{article.userEmail}}
<!--              {{article.insDate | date:'yyyy-MM-dd HH:mm' : '+900'}}-->
                  update {{article.upDate  | date:'yyyy-MM-dd HH:mm' : '+900'}}
<!--              {{article.isDeleted}}-->
                </div>
                <div class="view">
                  <img src="../../assets/svg/heart-svgrepo-com.svg" alt="view" width="20px" height="20px"/>
                  {{article.likeCnt}}
                  <img src="../../assets/svg/eye-open.svg" alt="view" width="20px" height="20px"/>
                  {{article.hitCnt}}
                </div>
              </a>
              <div>
                {{article.title}}
              </div>
              <div  class="contents"
                    [innerHTML]="article.contents">
              </div>
            </div>
            <div class="relation comment" *ngIf="article.commentNo">
              <div class="author" >
                {{article.commentNo}}
                {{article.cUserEmail}}
<!--                {{article.cInsDate}}-->
                {{article.cUpDate | date:'yyyy-MM-dd HH:mm' : '+900'}}
              </div>
              <div class="view">
                <img src="../../assets/svg/{{isLike(article.commentNo, 'comment')?'heart-fill-svgrepo-com.svg':'heart-svgrepo-com.svg'}}"
                     alt="view" width="20px" height="20px"/>
                {{article.cLikeCnt}}
              </div>
                {{article.cContents}}
            </div>
          </div>
        </div>
<!--        <div class="posts-wrapper">-->
<!--          <div class="post-wrapper" *ngFor="let comment of hist.commentRelation;">-->
<!--            <div class="relation article" *ngIf="comment.articleNo">-->
<!--              {{comment.articleNo}}-->
<!--              {{comment.aUserEmail}}-->
<!--              {{comment.aTitle}}-->
<!--              {{comment.aHitCnt}}-->
<!--              {{comment.aInsDate}}-->
<!--              {{comment.aUpDate}}-->
<!--              {{comment.aIsDeleted}}-->
<!--              <div  class="contents"-->
<!--                    [innerHTML]="comment.aContents">-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="ralation comment" *ngIf="comment.pCommentNo">-->
<!--              {{comment.pCommentNo}}-->
<!--              {{comment.pUserEmail}}-->
<!--              {{comment.pContents}}-->
<!--              {{comment.pHitCnt}}-->
<!--              {{comment.pInsDate}}-->
<!--              {{comment.pUpDate}}-->
<!--              {{comment.pIsDeleted}}-->
<!--            </div>-->
<!--            <div class="post comment">-->
<!--              {{comment.no}}-->
<!--              {{comment.userEmail}}-->
<!--              {{comment.contents}}-->
<!--              {{comment.likeCnt}}-->
<!--              {{comment.isDeleted}}-->
<!--              {{comment.insDate}}-->
<!--              {{comment.upDate}}-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
  <app-board-side [data]="userDetail$"></app-board-side>
</div>
