.container {
  margin-top: 10px;
  display: grid;
  justify-content: center;
  .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
}
.card-wrapper {
  width: 500px;
  min-width: 400px;
  text-align: center;

  mat-card {
    margin: 5px;
    mat-card-subtitle {
      display: flex;
    }
    mat-card-title {
      display: flex;
      &.deleted {
        a {color: #9d9d9d;}
        a:hover {color: #017cdc;}
      }
    }
  }
  .author {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
  }
  .profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    color: whitesmoke;
    background-color: #1976d2;
    width: 26px;
    height: 26px;
    margin: 2px;
  }
}

