<div *ngIf="isLoading$ | async">Loading...</div>
<div class="container" *ngIf="articles$">
  <mat-paginator #paginator
                 [pageIndex]="pageIndex"
                 (page)="getPageEvent($event)"
                 [length]="totalCnt"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 aria-label="Select page">
  </mat-paginator>
  <div class="card-wrapper" *ngFor="let article of articles$ | async ; let i = index">
    <mat-card *ngIf="(pageIndex*pageSize)<=i && i<(pageIndex+1)*pageSize">
      <mat-card-header>
        {{article.no}}
        <mat-card-subtitle>{{article.userEmail}}</mat-card-subtitle>
        <mat-card-title class="title">
          <a [title]="article.no+'details'"
             [routerLink]="['/article',article.no]">
            {{article.title}}
          </a>
        </mat-card-title>
        <p *ngIf="article.photo">
          <img src="/" alt="photo">
          url: {{article.photo}}
        </p>
      </mat-card-header>
      <mat-card-content></mat-card-content>
      <mat-card-actions></mat-card-actions>
    </mat-card>
  </div>
</div>


