.container {
  display: grid;
  justify-content: center;
  .create-btn {
    justify-self: start;
  }
}
.card-wrapper {
  width: 60vw;
  min-width: 400px;
  text-align: center;

  mat-card {
    margin: 5px;
  }
  .title>a {
    text-decoration-line: none;
  }
}
