<div *ngIf="isLoading$ | async">Loading...</div>
<div class="container" *ngIf="articles$">
    <div class="top">
      <button class="btn btn-input"
              [routerLink]="['/board/new']">
        <div class="profile-image">
          <div>{{me?me.charAt(0):''}}</div>
        </div>
        <textarea
          placeholder="Create new article"></textarea>
      </button>
    </div>
    <div class="filter">
      <app-selector [data]="selectData" (optionSelector)="receiveSelected($event)"></app-selector>
<!--      <mat-form-field>-->
<!--        <mat-label>필터</mat-label>-->
<!--        <mat-select-->
<!--          panelClass="sort-select"-->
<!--          (selectionChange)="exceptDeleted()"-->
<!--          [(ngModel)]="isDeleteFilter">-->
<!--          <mat-option value="all">show all articles</mat-option>-->
<!--          <mat-option value="except">except deleted</mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
  <mat-paginator #paginator
                 [pageIndex]="pageIndex"
                 (page)="getPageEvent($event)"
                 [length]="totalCnt"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 aria-label="Select page">
  </mat-paginator>
    </div>
  <div class="card-wrapper" *ngFor="let article of articles$ | async ; let i = index">
    <mat-card *ngIf="(pageIndex*pageSize)<=i && i<(pageIndex+1)*pageSize">
      <mat-card-header>
        <mat-card-subtitle>
          <div class="author">
            <div>{{article.no}}  ∙ </div>
            <div class="profile-image">
              <div>{{article.userEmail?.charAt(0)}}</div>
            </div>
            <div> ∙ {{article.userEmail}} ∙ {{getDate(article.upDate)}}
            </div>
          </div>
        </mat-card-subtitle>
        <mat-card-title class="title {{article.isDelete?'deleted':''}}">
          <a [title]="article.no+'details'"
             [routerLink]="['/article',article.no]">
            {{article.title}}
          </a>
        </mat-card-title>
        <p *ngIf="article.photo">
          <img src="/" alt="photo">
          url: {{article.photo}}
        </p>
      </mat-card-header>
      <mat-card-content></mat-card-content>
<!--      <mat-card-actions></mat-card-actions>-->
    </mat-card>
  </div>
</div>


